@import './variables';


.history-window{
    display: none;
    grid-template-rows: 5% 15% repeat(6,10%) 10% 10%;
    grid-template-columns:3% 3% repeat(7,12.57%) 3% 3%;
    height: 100%;

    .hamburger{
        @include hamburgerStyle;
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .cal-header{
        @include fadeAnim;
        @include flex-center;
        flex-direction: column;
        grid-column: 4/ span 5;
        grid-row: 2/3;
        h2{
            height: fit-content;
        }
        .date-nav{
            @include flex-center;
            i{
                font-size: 2rem;
                color: $water-color;
                margin: 0 10px;
                cursor: pointer;
                border: 1px 0 1px 0;
            }
            
            .icon{
                height:fit-content;
            }
        }
    }
    h2{
        font-size: 1rem;
    }



}

.cal-day{
    @include fadeAnim;
    @include flex-center;
    grid-row: 3/4;
}

.sunday{
    grid-column: 3/4;
}

.monday {
    grid-column: 4/5;
}
.tuesday {
    grid-column: 5/6;
}
.wednesday {
    grid-column: 6/7;
}
.thursday {
    grid-column: 7/8;
}
.friday {
    grid-column: 8/9;
}

.saturday {
    grid-column: 9/10;
}

.cal-box {
    @include fadeAnim;
    position: relative;
    @include flex-center;
    span{
        @include fadeAnim;
        @include flex-center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }

}

.tooltip {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: fit-content;
    background-color:rgba(255, 240, 240, 1);
    color:$background-color;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    bottom: 100%;
    &:after{
        content:'';
        position:absolute;
        left: 45%;
        top: 100%;
        border-style: solid;
        border-width: 7px;
        border-color: rgba(255, 240, 240, 0.521) transparent transparent transparent;
    }
    p{
        margin-bottom: 7px;
    }
}

.ttp-display-none{
    display: none;
}

.ttp-display-flex{
    display: flex;
}
    
.not-achieved{
    background-color: rgb(226, 77, 77);
}

.red-hover{
    @include dateRedHoverEffect;
}

.green-hover{
    @include dateGreenHoverEffect;
}
.achieved {
    background-color:rgb(18, 175, 18);
}


.red-legend{
    @include fadeAnim;
    display: flex;
    align-items: center;
    height: fit-content;
    grid-row: 10/11;
    grid-column: 3/span 4;
    margin-top:30px;
    .circle{
        margin:0 5px;
        justify-self: start;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: rgb(226, 77, 77);
        @include dateRedHoverEffect;
        
    }

    .text{
        font-size: 14px;
        text-align:center;
        height: fit-content;
    }
}

.green-legend{
    @include fadeAnim;
    display: flex;
    align-items: center;
    height: fit-content;
    grid-row: 10/11;
    grid-column: 3/span 4;
    margin-bottom: 10px;
    .circle{
        margin:0 5px;
        justify-self: start;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: rgb(18, 175, 18);
        @include dateGreenHoverEffect;
      
    }
    .text{
        font-size: 14px;
        text-align:center;
        height: fit-content;
    }
}