@import './variables';


.start-app{
    @include flex-center;
    margin: 0 10%;
    display: none;
}
.set-amount{
    height: initial;
    h1{
        text-align: center;
        @include fadeAnim;
        height: initial;
    }
}
.submit{
    @include flex-center;
    margin-top: 1.5rem;
    height: initial;
    input{
        border-radius: 15%;
        border: 2px solid white;
        width: 90px;
        height: 70px;
        text-align: center;
        font-size: 1.75rem;
    
        color: $background-color;
        margin-right: 1rem; 
        &:focus {
            outline: none;
        }
    }

    button {
        padding: 5px;
        border-radius: 100%;
        border: none;
        background-color: white;
        color: $secondary-color;
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
        }
        &:focus{
            outline: none;
        }

        &:active{
            border: white;
            background-color: $secondary-color;
            color: white;
        }
    }
    
    
}