@import './variables';


.settings-window{
    display: none;
    grid-template-rows: 5% 15% 25% 15% 20% 20% 5%;
    grid-template-columns:3% 3% 25% 7.5% 20% 7.5% 25% 5% 5%;
    height: 100%;

    .hamburger{
        @include hamburgerStyle;
        grid-row: 2/3;
        grid-column: 1/2;
    }

}

.back-btn {
    @include hamburgerStyle;
    grid-row : 2/3;
    grid-column: 2/3;
}

@media screen and (max-width:1125px) {
    .back-btn{
        margin-left: 20px;
    }
}

@media screen and (max-width:750px) {
    .back-btn{
        margin-left: 30px;
    }
}