@import './variables';


.settings-window{
    display: none;
    grid-template-rows: 5% 15% 25% 15% 20% 20% 5%;
    grid-template-columns:3% 3% 20% 12.5% 20% 12.5% 20% 5% 5%;
    height: 100%;

    .hamburger{
        @include hamburgerStyle;
        grid-row: 2/3;
        grid-column: 1/2;
    }


}

.save{
    @include fadeAnim;
    @include checkBtn;
    height: 50px;
    width: 50px;
    grid-column: 5/6;
    grid-row: 5/6;
    justify-self: center;
    font-size: 2.2rem;
}

.back-btn {
    @include hamburgerStyle;
    grid-row : 2/3;
    grid-column: 2/3;
}

.success,.error{
    display:none;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 1.5rem 0.5rem;
    margin-top: 2rem;
    grid-row:2/3;
    grid-column: 3/span 5;
    text-align:center;
    i{
        background-color:#19A974;
        color:white;
        height: 25px;
        width: 25px;
        font-size: 1rem;
        text-align:center;
        margin-right: 5px;
        padding: 5px;
        border-radius: 100%;
    }

}

.error{
    i{
        background-color: red;
        height: 30px;
        width: 30px;
    }
}

.settings-container{
    @include fadeAnim;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 3/4;
    grid-column: 3/span 5;
    h1{
    margin-bottom: 4rem;
    text-align:center;
    height: fit-content;
    }
    .input-container{
        height: 50px;
        margin-bottom: 0.5rem;
        span{
            display: inline-block;
            margin-left: 1rem; 
            width: 150px;
        }
    }
    input {
        border-radius: 5%;
        border: 2px solid white;
        width: 90px;
        height: 30px;
        text-align: center;
        font-size: 1.2rem;
        margin-left: 0.7rem;
        color: $background-color;
        &:focus {
            outline: none;
        }
    }

}

@media screen and (max-width:1125px) {
    .back-btn{
        margin-left: 20px;
    }
}

@media screen and (max-width:750px) {
    .back-btn{
        margin-left: 30px;
    }
}


@media screen and (min-height:800px) {
    .save{
        grid-row: 4/5;
        margin-top: 1rem;
    }
}

@media screen and (min-height:1200px) {
    .settings-window{
        grid-template-rows: 5% 15% 15% 15% 20% 20% 15%;
    }

    .save{
        margin-top: 3rem;
    }
}