@import './variables';


.statistics-window{
    display: none;
    grid-template-rows: 5% 15% 40% 20% 20% 5%;
    grid-template-columns:3% 3% 88% 3% 3%;
    height: 100%;

    .hamburger{
        @include hamburgerStyle;
        grid-row: 2/3;
        grid-column: 1/2;
    }

    // .inner-circ{
    //    width: 400px;
    //    height: 400px;
    //    background-color:red;
    //    z-index :1;
    //    border-radius: 100%;
    // }

    // .circle{
    //     grid-row : 3/4;
    //     grid-column: 3/4;
    //     height: 400px;
    //     width: 50px;
    //     background-color:$background-color;
    //     border-radius: 100%;
    //     border-style: solid;
    //     border-width: 20px;
    //     border-color:white transparent transparent transparent ;
    //     animation : anim linear 5s;
    // }
    
    .pie-container{
        grid-row: 3/4;
        grid-column: 3/4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle-svg{
        grid-row : 3/span 2;
        grid-column: 3/4;
        fill:none;
        stroke-width: 10px;
        stroke: $water-color;
        width: 160px;
        height: 160px;

        
        circle{
            transform: translate(10px,10px) ;
            stroke-dasharray:440;
            stroke-dashoffset: 50;
            animation: anim linear 5s;
        }
    }

    
}
