$background-color: #173548;
$secondary-color: #144FC6;
$water-color: #00BBFB;
$font-stack : 'Montserrat',sans-serif;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hover {
    transition: all 0.5s ease;
    &:hover{
        transform: scale(1.2);
    }
}

@mixin fadeAnim {
    animation: fadeIn 0.5s ease-in;
}

@mixin hamburgerStyle {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    border: none;
    cursor: pointer;
    z-index: 3;
    @include hover;

}


@mixin checkBtn {
    padding: 5px;
    border-radius: 100%;
    border: none;
    background-color: white;
    color: $secondary-color;
    cursor: pointer;
    &:hover{
        transform: scale(1.2);
    }
    &:focus{
        outline: none;
    }

    &:active{
        border: white;
        background-color: $secondary-color;
        color: white;
    }
}