.start-app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
  display: none;
}

.set-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: initial;
}

.set-amount h1 {
  text-align: center;
  animation: fadeIn 0.5s ease-in;
  height: initial;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  height: initial;
}

.submit input {
  border-radius: 15%;
  border: 2px solid white;
  width: 90px;
  height: 70px;
  text-align: center;
  font-size: 1.75rem;
  color: #173548;
  margin-right: 1rem;
}

.submit input:focus {
  outline: none;
}

.submit button {
  padding: 5px;
  border-radius: 100%;
  border: none;
  background-color: white;
  color: #00BBFB;
  cursor: pointer;
}

.submit button:hover {
  transform: scale(1.2);
}

.submit button:focus {
  outline: none;
}

.submit button:active {
  border: white;
  background-color: #144FC6;
  color: white;
}

.start-input-error {
  display: none;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 1.5rem 0.5rem;
  margin-top: 2rem;
  text-align: center;
}

.start-input-error i {
  background-color: red;
  color: white;
  height: 30px;
  width: 30px;
  font-size: 1rem;
  text-align: center;
  margin-right: 5px;
  padding: 5px;
  border-radius: 100%;
}

.wave-container {
  width: 100%;
  position: absolute;
  bottom: 0vh;
  left: 0;
  transition: bottom 2s;
}

.wave {
  width: 100%;
  background: url("/assets/imgs/wave1.png") no-repeat;
  background-size: 100vw 200px;
  background-position: bottom left;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave1 {
  animation: wave-anim 15s linear infinite;
  opacity: 0.7;
}

.wave2 {
  animation: wave-anim2 15s linear infinite;
  opacity: 0.5;
  animation-delay: -5s;
}

.wave3 {
  animation: wave-anim 30s linear infinite;
  opacity: 0.3;
  animation-delay: -2s;
}

.wave4 {
  animation: wave-anim2 15s linear infinite;
  opacity: 0.2;
  animation-delay: -5s;
}

.wave-bottom {
  width: 100%;
  background-color: #00bbfb;
  height: 0vh;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.dashboard-window {
  display: none;
  height: 100%;
}

.dashboard-window nav {
  animation: fadeIn 0.5s ease-in;
  width: 80%;
  height: 10vh;
  margin: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-window nav ul {
  display: flex;
  list-style-type: none;
}

.dashboard-window nav ul li {
  margin-right: 1rem;
}

main {
  display: grid;
  grid-template-rows: 5% 15% 25% 15% 20% 20% 5%;
  grid-template-columns: 5% 25% 7.5% 20% 7.5% 25% 5% 5%;
  height: 100%;
}

main .hamburger {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: all 0.5s ease;
}

main .hamburger:hover {
  transform: scale(1.2);
}

main .date-container {
  grid-row: 2/3;
  grid-column: 3/6;
  text-align: center;
  justify-self: center;
  z-index: 1;
  animation: fadeIn 0.5s ease-in;
}

main .amount-drank {
  grid-row: 4/5;
  grid-column: 4/5;
  justify-self: center;
  align-self: start;
  font-size: 4rem;
  z-index: 1;
  animation: fadeIn 0.5s ease-in;
}

main .add-btn {
  font-size: 3rem;
  height: 50px;
  grid-row: 6/7;
  grid-column: 4/5;
  z-index: 1;
  justify-self: center;
  align-self: start;
  cursor: pointer;
  transition: all 0.5s ease;
}

main .add-btn:hover {
  transform: scale(1.2);
}

main .undo {
  grid-row: 2/3;
  grid-column: 8/9;
  margin-right: 15px;
  height: 20px;
  justify-self: end;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s ease;
}

main .undo:hover {
  transform: scale(1.2);
}

.extra-water {
  display: none;
  margin: 15px 0;
  grid-column: 3/6;
  grid-row: 5/6;
  text-align: center;
  z-index: 1;
}

.hamburger-menu {
  animation: fadeInV2 0.5s ease-in;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.hamburger-menu ul {
  height: initial;
  list-style-type: none;
}

.hamburger-menu ul li {
  margin: 15px 0;
  transition: all 0.5s ease;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
}

.hamburger-menu ul li:hover {
  transform: scale(1.2);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}

.settings-window {
  display: none;
  grid-template-rows: 5% 15% 25% 15% 20% 20% 5%;
  grid-template-columns: 3% 3% 20% 12.5% 20% 12.5% 20% 5% 5%;
  height: 100%;
}

.settings-window .hamburger {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: all 0.5s ease;
  grid-row: 2/3;
  grid-column: 1/2;
}

.settings-window .hamburger:hover {
  transform: scale(1.2);
}

.save {
  animation: fadeIn 0.5s ease-in;
  padding: 5px;
  border-radius: 100%;
  border: none;
  background-color: white;
  color: #00BBFB;
  cursor: pointer;
  height: 50px;
  width: 50px;
  grid-column: 5/6;
  grid-row: 5/6;
  justify-self: center;
  align-self: center;
  font-size: 2.2rem;
}

.save:hover {
  transform: scale(1.2);
}

.save:focus {
  outline: none;
}

.save:active {
  border: white;
  background-color: #144FC6;
  color: white;
}

.back-btn {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: all 0.5s ease;
  grid-row: 2/3;
  grid-column: 2/3;
}

.back-btn:hover {
  transform: scale(1.2);
}

.success, .error {
  display: none;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 1.5rem 0.5rem;
  margin-top: 2rem;
  grid-row: 2/3;
  grid-column: 3/span 5;
  text-align: center;
}

.success i, .error i {
  background-color: #19A974;
  color: white;
  height: 25px;
  width: 25px;
  font-size: 1rem;
  text-align: center;
  margin-right: 5px;
  padding: 5px;
  border-radius: 100%;
}

.error i {
  background-color: red;
  height: 30px;
  width: 30px;
}

.settings-container {
  animation: fadeIn 0.5s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 3/span 2;
  grid-column: 3/span 5;
}

.settings-container h1 {
  text-align: center;
}

.settings-container .input-container {
  height: 50px;
  margin-bottom: 0.5rem;
}

.settings-container .input-container span {
  display: inline-block;
  margin-left: 1rem;
  width: 150px;
}

.settings-container input {
  border-radius: 5%;
  border: 2px solid white;
  width: 90px;
  height: 30px;
  text-align: center;
  font-size: 1.2rem;
  margin-left: 0.7rem;
  color: #173548;
}

.settings-container input:focus {
  outline: none;
}

@media screen and (max-width: 1125px) {
  .back-btn {
    margin-left: 20px;
  }
}

@media screen and (max-width: 750px) {
  .back-btn {
    margin-left: 30px;
  }
}

.history-window {
  display: none;
  grid-template-rows: 5% 15% repeat(6, 10%) 10% 10%;
  grid-template-columns: 3% 3% repeat(7, 12.57%) 3% 3%;
  height: 100%;
}

.history-window .hamburger {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: all 0.5s ease;
  grid-row: 2/3;
  grid-column: 1/2;
}

.history-window .hamburger:hover {
  transform: scale(1.2);
}

.history-window .cal-header {
  animation: fadeIn 0.5s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 4/ span 5;
  grid-row: 2/3;
}

.history-window .cal-header h2 {
  height: fit-content;
}

.history-window .cal-header .date-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-window .cal-header .date-nav i {
  font-size: 2rem;
  color: #00BBFB;
  margin: 0 10px;
  cursor: pointer;
  border: 1px 0 1px 0;
}

.history-window .cal-header .date-nav .icon {
  height: fit-content;
}

.history-window h2 {
  font-size: 1rem;
}

.cal-day {
  animation: fadeIn 0.5s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3/4;
}

.sunday {
  grid-column: 3/4;
}

.monday {
  grid-column: 4/5;
}

.tuesday {
  grid-column: 5/6;
}

.wednesday {
  grid-column: 6/7;
}

.thursday {
  grid-column: 7/8;
}

.friday {
  grid-column: 8/9;
}

.saturday {
  grid-column: 9/10;
}

.cal-box {
  animation: fadeIn 0.5s ease-in;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cal-box span {
  animation: fadeIn 0.5s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.tooltip {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: fit-content;
  background-color: #fff0f0;
  color: #173548;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  bottom: 100%;
}

.tooltip:after {
  content: '';
  position: absolute;
  left: 45%;
  top: 100%;
  border-style: solid;
  border-width: 7px;
  border-color: rgba(255, 240, 240, 0.521) transparent transparent transparent;
}

.tooltip p {
  margin-bottom: 7px;
}

.ttp-display-none {
  display: none;
}

.ttp-display-flex {
  display: flex;
}

.not-achieved {
  background-color: #e24d4d;
}

.red-hover:hover {
  background-color: #ff1818;
  box-shadow: 0 0 50px #ff1818;
  transform: scale(1.2);
}

.green-hover:hover {
  background-color: #39ff14;
  box-shadow: 0 0 50px #39ff14;
  transform: scale(1.2);
}

.achieved {
  background-color: #12af12;
}

.red-legend {
  animation: fadeIn 0.5s ease-in;
  display: flex;
  align-items: flex-start;
  grid-row: 9/10;
  grid-column: 3/span 4;
  margin-top: 20px;
}

.red-legend .circle {
  margin: 0 5px;
  justify-self: start;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #e24d4d;
}

.red-legend .circle:hover {
  background-color: #ff1818;
  box-shadow: 0 0 50px #ff1818;
  transform: scale(1.2);
}

.red-legend .text {
  text-align: center;
}

.green-legend {
  animation: fadeIn 0.5s ease-in;
  display: flex;
  align-items: flex-start;
  grid-row: 10/11;
  grid-column: 3/span 4;
}

.green-legend .circle {
  margin: 0 5px;
  justify-self: start;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #12af12;
}

.green-legend .circle:hover {
  background-color: #39ff14;
  box-shadow: 0 0 50px #39ff14;
  transform: scale(1.2);
}

.green-legend .text {
  text-align: center;
}

.statistics-window {
  display: none;
  grid-template-rows: 5% 15% 25% 15% 20% 20% 5%;
  grid-template-columns: 3% 3% 25% 7.5% 20% 7.5% 25% 5% 5%;
  height: 100%;
}

.statistics-window .hamburger {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: all 0.5s ease;
  grid-row: 2/3;
  grid-column: 1/2;
}

.statistics-window .hamburger:hover {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #173548;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes wave-anim {
  0% {
    background-position-x: 0px;
  }
  50% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0;
  }
}

@keyframes wave-anim2 {
  0% {
    background-position-x: 0;
  }
  50% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInV2 {
  0% {
    opacity: 0;
    transform: translateX(-100%) translateY(-100%);
    border-radius: 0 100% 100% 0;
  }
  99% {
    border-radius: 0 100% 100% 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%) translateY(0%);
    border-radius: 0%;
  }
}

@media screen and (max-width: 800px) {
  @keyframes wave-anim {
    0% {
      background-position-x: 0px;
    }
    50% {
      background-position-x: 300px;
    }
    100% {
      background-position-x: 0;
    }
  }
  @keyframes wave-anim2 {
    0% {
      background-position-x: 0;
    }
    50% {
      background-position-x: -300px;
    }
    100% {
      background-position-x: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .extra-water {
    grid-column: 2/7;
  }
  @keyframes wave-anim {
    0% {
      background-position-x: 0px;
    }
    50% {
      background-position-x: 150px;
    }
    100% {
      background-position-x: 0;
    }
  }
  @keyframes wave-anim2 {
    0% {
      background-position-x: 0;
    }
    50% {
      background-position-x: -150px;
    }
    100% {
      background-position-x: 0;
    }
  }
}
/*# sourceMappingURL=style.css.map */