.start-app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
  display: none;
}

.set-amount {
  height: initial;
}

.set-amount h1 {
  text-align: center;
  animation: fadeIn 0.5s ease-in;
  height: initial;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  height: initial;
}

.submit input {
  border-radius: 15%;
  border: 2px solid white;
  width: 90px;
  height: 70px;
  text-align: center;
  font-size: 1.75rem;
  color: #173548;
  margin-right: 1rem;
}

.submit input:focus {
  outline: none;
}

.submit button {
  padding: 5px;
  border-radius: 100%;
  border: none;
  background-color: white;
  color: #144FC6;
  cursor: pointer;
}

.submit button:hover {
  transform: scale(1.2);
}

.submit button:focus {
  outline: none;
}

.submit button:active {
  border: white;
  background-color: #144FC6;
  color: white;
}

.wave-container {
  width: 100%;
  position: absolute;
  bottom: 0vh;
  left: 0;
  transition: bottom 2s;
}

.wave {
  width: 100%;
  background: url("/assets/imgs/wave1.png") no-repeat;
  background-size: 100vw 200px;
  background-position: bottom left;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave1 {
  animation: wave-anim 15s linear infinite;
  opacity: 0.7;
}

.wave2 {
  animation: wave-anim2 15s linear infinite;
  opacity: 0.5;
  animation-delay: -5s;
}

.wave3 {
  animation: wave-anim 30s linear infinite;
  opacity: 0.3;
  animation-delay: -2s;
}

.wave4 {
  animation: wave-anim2 15s linear infinite;
  opacity: 0.2;
  animation-delay: -5s;
}

.wave-bottom {
  width: 100%;
  background-color: #00bbfb;
  height: 0vh;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.dashboard-window {
  display: none;
  height: 100%;
}

.dashboard-window nav {
  animation: fadeIn 0.5s ease-in;
  width: 80%;
  height: 10vh;
  margin: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-window nav ul {
  display: flex;
  list-style-type: none;
}

.dashboard-window nav ul li {
  margin-right: 1rem;
}

main {
  display: grid;
  grid-template-rows: 5% 15% 25% 15% 20% 20% 5%;
  grid-template-columns: 5% 25% 7.5% 20% 7.5% 25% 5% 5%;
  height: 100%;
}

main .hamburger {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: all 0.5s ease;
}

main .hamburger:hover {
  transform: scale(1.2);
}

main .date-container {
  grid-row: 2/3;
  grid-column: 3/6;
  text-align: center;
  justify-self: center;
  z-index: 1;
  animation: fadeIn 0.5s ease-in;
}

main .amount-drank {
  grid-row: 4/5;
  grid-column: 4/5;
  justify-self: center;
  align-self: start;
  font-size: 4rem;
  z-index: 1;
  animation: fadeIn 0.5s ease-in;
}

main .add-btn {
  font-size: 3rem;
  height: 50px;
  grid-row: 6/7;
  grid-column: 4/5;
  z-index: 1;
  justify-self: center;
  align-self: start;
  cursor: pointer;
  transition: all 0.5s ease;
}

main .add-btn:hover {
  transform: scale(1.2);
}

main .undo {
  grid-row: 2/3;
  grid-column: 8/9;
  margin-right: 15px;
  height: 20px;
  justify-self: end;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s ease;
}

main .undo:hover {
  transform: scale(1.2);
}

.extra-water {
  display: none;
  margin: 15px 0;
  grid-column: 3/6;
  grid-row: 5/6;
  text-align: center;
  z-index: 1;
}

.hamburger-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.hamburger-menu ul {
  height: initial;
  list-style-type: none;
}

.hamburger-menu ul li {
  margin: 15px 0;
  transition: all 0.5s ease;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
}

.hamburger-menu ul li:hover {
  transform: scale(1.2);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}

.settings-window {
  display: none;
  grid-template-rows: 5% 15% 25% 15% 20% 20% 5%;
  grid-template-columns: 5% 25% 7.5% 20% 7.5% 25% 5% 5%;
  height: 100%;
}

.settings-window .hamburger {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: all 0.5s ease;
  grid-row: 2/3;
  grid-column: 1/2;
}

.settings-window .hamburger:hover {
  transform: scale(1.2);
}

.history-window {
  display: none;
  grid-template-rows: 5% 15% 25% 15% 20% 20% 5%;
  grid-template-columns: 5% 25% 7.5% 20% 7.5% 25% 5% 5%;
  height: 100%;
}

.history-window .hamburger {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: all 0.5s ease;
  grid-row: 2/3;
  grid-column: 1/2;
}

.history-window .hamburger:hover {
  transform: scale(1.2);
}

.statistics-window {
  display: none;
  grid-template-rows: 5% 15% 25% 15% 20% 20% 5%;
  grid-template-columns: 5% 25% 7.5% 20% 7.5% 25% 5% 5%;
  height: 100%;
}

.statistics-window .hamburger {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: all 0.5s ease;
  grid-row: 2/3;
  grid-column: 1/2;
}

.statistics-window .hamburger:hover {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #173548;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes wave-anim {
  0% {
    background-position-x: 0px;
  }
  50% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0;
  }
}

@keyframes wave-anim2 {
  0% {
    background-position-x: 0;
  }
  50% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 800px) {
  @keyframes wave-anim {
    0% {
      background-position-x: 0px;
    }
    50% {
      background-position-x: 300px;
    }
    100% {
      background-position-x: 0;
    }
  }
  @keyframes wave-anim2 {
    0% {
      background-position-x: 0;
    }
    50% {
      background-position-x: -300px;
    }
    100% {
      background-position-x: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .extra-water {
    grid-column: 2/7;
  }
  @keyframes wave-anim {
    0% {
      background-position-x: 0px;
    }
    50% {
      background-position-x: 150px;
    }
    100% {
      background-position-x: 0;
    }
  }
  @keyframes wave-anim2 {
    0% {
      background-position-x: 0;
    }
    50% {
      background-position-x: -150px;
    }
    100% {
      background-position-x: 0;
    }
  }
}
/*# sourceMappingURL=style.css.map */