@import './variables';
@import './inputWindows';
@import './waveStyles';
@import './dashboardStyle';
@import './hamburger';
@import './settingsWindow';
@import './historyWindow';
@import './statisticsWindow';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    height:100%;
}

body{
    font-family: $font-stack;
    background-color: $background-color;
    color: white;
    height: 100%;
    @include flex-center;
}


@keyframes wave-anim {
    0%{
        background-position-x: 0px;
    }
    50%{
        background-position-x: 1000px;
        
    }
    100%{
         background-position-x:0;
    }
}
@keyframes wave-anim2 {
    0%{
        background-position-x: 0;
    }
    50%{
        background-position-x: -1000px;
    }
    100%{
        background-position-x:0;
   }
}


@keyframes fadeIn{
    0%{
        opacity:0;
        transform: scale(0.8);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width:800px) {
    @keyframes wave-anim {
        0%{
            background-position-x: 0px;
        }
        50%{
            background-position-x: 300px;
            
        }
        100%{
             background-position-x:0;
        }
    }

    @keyframes wave-anim2 {
        0%{
            background-position-x: 0;
        }
        50%{
            background-position-x: -300px;
        }
        100%{
            background-position-x:0;
       }
    }
}

@media screen and (max-width:400px) {
    .extra-water{
        grid-column: 2/7;
    }
    @keyframes wave-anim {
        0%{
            background-position-x: 0px;
        }
        50%{
            background-position-x: 150px;
            
        }
        100%{
             background-position-x:0;
        }
    }

    @keyframes wave-anim2 {
        0%{
            background-position-x: 0;
        }
        50%{
            background-position-x: -150px;
        }
        100%{
            background-position-x:0;
       }
    }
}