@import './variables';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    font-family: $font-stack;
    background-color: $background-color;
    color: white;
    height: 100vh;
    @include flex-center;
}

.start-app{
    @include flex-center;
    margin: 0 10%;
    display: none;
}
.set-amount{
    h1{
        text-align: center;
        animation: fadeIn 0.5s ease-in;
    }
}
.submit{
    @include flex-center;
    margin-top: 1.5rem;
    input{
        border-radius: 15%;
        border: 2px solid white;
        width: 90px;
        height: 70px;
        text-align: center;
        font-size: 1.75rem;
    
        color: $background-color;
        margin-right: 1rem; 
        &:focus {
            outline: none;
        }
    }

    button {
        padding: 5px;
        border-radius: 100%;
        border: none;
        background-color: white;
        color: $secondary-color;
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
        }
        &:focus{
            outline: none;
        }

        &:active{
            border: white;
            background-color: $secondary-color;
            color: white;
        }
    }
    
    
}

.dashboard{
    display: none;
    nav{
        animation: fadeIn 0.5s ease-in;
        width: 80%;
        margin: 1rem 10%;
        @include flex-center;
        ul{
        display: flex;
        list-style-type: none;
        li{
            margin-right: 1rem;
        }
        }
    }
}

main{
    height: 100vh;
    .water-glass{
        height: 50%;
        width: 15%;
        border: 3px solid white;
    }
}

.wave{
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
}


@keyframes fadeIn{
    0%{
        opacity:0;
        transform: scale(0.8);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}